@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 10px;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}
.section-title {
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  letter-spacing: 9px;
}
.section-title span {
  color: crimson;
}

/* hero section */
#hero {
  background-image: url(./img/Creative-Background-HD-Photos.jpg);
  background-size: contain;
  background-position: top center;
  height: 100vh;
  /* position: absolute;
  z-index: -1; */
}
#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
/* #hero .hero {
  margin: 0 auto;
  padding: 0 50pc;
} */
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 2s ease forwards;
  /* animation-delay: 3s; */
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
  margin-bottom: 10px;
}
#hero h1:nth-child(2) {
  animation-delay: 1s;

  margin-bottom: 10px;
}
#hero h1:nth-child(3) {
  animation-delay: 1s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* width: 297px; */
  background-color: crimson;
  animation: text_reveal_box 3s ease;
  /* animation-delay: 3s; */
  margin-bottom: 10px;
}
#hero h1:nth-child(1)span {
  animation-delay: 3s;
  margin-bottom: 10px;
}
#hero h1:nth-child(2)span {
  animation-delay: 3s;
}
#hero h1:nth-child(3)span {
  animation-delay: 3s;
  color: red;
}

#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: transparent;
  /* border: 2px solid red; */
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3 ease;
  transition-property: color;
  /* margin-bottom: 50px; */
}
#hero .cta:hover {
  color: white;
  background-color: rgb(9, 9, 71);
}
/*End hero section*/

/* service section*/
#services {
  justify-content: center;
  text-align: center;
  display: flex;
}

#sevices .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#services .section title {
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
#services .section-title span {
  color: crimson;
}
.imgs {
  width: 50px;
  height: 51px;
  margin-top: 10px;
  border-radius: 24px;
}

/* End service section*/
/*projects section*/
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#projects .projects-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  /* background-color: white; */
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 291px;
  margin-top: 30px;
  background-image: linear-gradient(45deg, black, transparent);
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
  color: white;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
  color: black;
}
#projects .project-info p {
  color: white;
}
#projects .project-info img {
  flex-basis: 50%;
  height: 288px;
  overflow: hidden;
  position: relative;
  width: 291px;
}

#projects .project-img {
  overflow: hidden;
}
/* #projects .project-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
} */
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
  transition: 0.5s;
}

/*End projects section*/
/* about section */

#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  max-width: 0 auto;
  padding: 100px 20px;
}
#about .col-right p {
  width: 41%;
  font-size: 12px;
  margin-left: 30%;
}
#about .about img {
  height: 100px;
  width: 20%;
  text-align: center;
}
#about h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.prc-img {
  height: 413px;
  width: 26%;
  margin-bottom: 80px;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3 ease;
  transition-property: color;
  margin-bottom: 50px;
}
.cta:hover {
  color: white;
  background-color: crimson;
}
a :hover {
  color: black;
}
.brand h1 {
  font-size: 3rem;
  color: honeydew;
  text-transform: uppercase;
}
.brand h1 span {
  color: crimson;
}
/* header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(92, 92, 89);
  opacity: 0.8;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  flex-direction: column;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%) scale(0);
  /* color: rgba(92, 92, 89); */
  font-size: 15rem;
  letter-spacing: 50px;
  text-align: center;
  z-index: -1;
}
.ul-list {
  display: flex;
}
.ul-list li a {
  justify-content: space-between;
  color: aliceblue;
  margin-right: 20px;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50% -50%) scale(1);
  letter-spacing: initial;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: ivory;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: ivory;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}

/*End header section */
/* End about section */
/* contact section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  background-color: gold;
}
#contact .contact-items {
  justify-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 225, 255);
  padding: 30px;
  width: 100%;
}

#contact .contact-info {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px;
  box-shadow: 15px 21px 5px 0 #0000002c;
  background-color: gold;

  margin-top: 0%;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 18px 0 #0000002c;
}

/* END contact section */
/* footer */
#footer {
  background-image: linear-gradient(45deg, gray, transparent);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
  background-image: linear-gradient(45deg, rgb(14, 14, 41), transparent);
}
#footer h2 {
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 26%;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: antiquewhite;
  font-size: 1.3rem;
}
/* footer */
/* End footer */
/*key frames*/

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: gold;
  }
}

.prg-all {
  width: 21%;
  text-align: center;
  margin-left: 39%;
}
.first-prg {
  width: 43%;
  margin: 0 auto;
  text-align: center;
  font-size: 1pc;
  margin-bottom: 30px;
}
.all-prg {
  width: 91%;
  text-align: center;
  margin-left: 3%;
  color: antiquewhite;
  margin-top: 5px;
}
.service-item {
  background-image: url(./img/pinterest.jpg);
  width: 384px;
  height: 192px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.service-item::after {
  background-image: url(./img/pinterest.jpg);
  /* width: 400px; */
  height: 192px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-size: cover;
  margin: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.service-bottom {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
}
.h2-main {
  color: white;
  width: 125px;
  margin-top: 21px;
}
.section-title {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.icon {
  font-size: 40px;
  width: 100px;
}
h1 {
  font-size: 20px;
}
.img-png {
  width: 57px;
  margin-right: 50px;
}

/*End key frames*/
/* media Query for tablet  */
@media only screen and (min-width: 768) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1 .section-title {
    font-size: 6rem;
  }
}
/* hero */
#hero h1 {
  font-size: 7rem;
}

/* End hero */
/* End media Query for tablet  */
